.main {
    background-color: white;
    max-width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .main {
        max-width: 100%;
    }
}

.opening {
    font-size: 1rem;
}

.slds-carousel__panel.panel-hide {
    display: none;
}

.slds-carousel__panel img {
    max-height: 60vh !important;
}

.ebird {
    width: 178px;
    height: 85px;
}

