.main {
    background-color: white;
}
.center {
    text-align: center;
}
.header {
    background-color: #1589ee;
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    color: white;
}
.header1 {
    font-size: 40px;
    font-weight: 700;
}
.header2 {
    font-size: 1.2em;
}
