.main {
    background-color: white;
}
.center {
    text-align: center;
}
.header {
    background: linear-gradient(to right, #718e5c, #8fa77d);
    font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
    color: white;
    border: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.header2 {
    font-size: 20px;
    font-family: 'Playfair Display';
    letter-spacing: 5px;
    opacity: 0.95;
}

.slds-context-bar {
    height: 3.5rem;
}

:host ::part(button) {
    color: white;
    border: none;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

.button-menu {
    background: linear-gradient(45deg, #718e5c, #8fa77d);
    padding: 0.5rem;
    border-radius: 4px;
}

.button-menu:hover {
    background: linear-gradient(45deg, #67824f, #82996f);
}

.menu-label {
    --sds-c-button-text-color: white;
    --sds-c-button-neutral-color-background: transparent;
    --sds-c-button-neutral-color-background-hover: transparent;
    --sds-c-button-neutral-color-border: transparent;
    --sds-c-icon-color-foreground: white;
    font-weight: 500;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 601px) {
    .header1 {
        font-size: 3rem;
        font-weight: 700;
        font-family: 'Poppins';
    }
}

@media screen and (max-width: 600px) {
    .header1 {
        font-size: 2.5rem;
        font-weight: 700;
        font-family: 'Poppins';
    }
}
